@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20 21 33;
    --background-end-rgb: 20 21 40;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
